beautifulsoup4
bs4
certifi
charset-normalizer
click
colorama
dnspython
Flask
Flask-Cors
gunicorn
html5lib
idna
itsdangerous
Jinja2
MarkupSafe
pymongo
pypi
requests
six
soupsieve
urllib3
webencodings
Werkzeug


